<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.ELTE.snake" android:versionCode="1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Snake" />
</manifest>